<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="../node_modules/datatables.net-bs5/css/dataTables.bootstrap5.css">
    <link rel="stylesheet" href="../node_modules/datatables.net-searchpanes-bs5/css/searchPanes.bootstrap5.css">
    <link rel="stylesheet" href="../node_modules/datatables.net-select-bs5/css/select.bootstrap5.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css">
    <script src="../node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="../node_modules/jquery/dist/jquery.js"></script>
    <script src="../node_modules/datatables.net/js/jquery.dataTables.js"></script>
    <script src="../node_modules/datatables.net-searchpanes/js/dataTables.searchPanes.js"></script>
    <script src="../node_modules/datatables.net-select/js/dataTables.select.js"></script>
    <script src="../node_modules/datatables.net-bs5/js/dataTables.bootstrap5.js"></script>
    <script src="../node_modules/datatables.net-searchpanes-bs5/js/searchPanes.bootstrap5.js"></script>
    <script src="../node_modules/moment/moment.js"></script>
    <script src="src/dataTables.dateTime.min.js"></script>
    <link rel="stylesheet" href="css/dataTables.dateTime.min.css">
    <link rel="stylesheet" href="css/stylesB.css">
    <title>Go Gambler Go</title>
</head>
<body style="background-color: #CECECE; margin: 0;">
    <header class="header">
        <div class="logo">
            <h1>GGG</h1>
        </div>
        <nav>
            <ul class="nav-links">
                <li>
                    <a href="settings.html">Game settings</a>
                </li>
                <li>
                    <a href="sujetos copy.html">Participants</a>
                </li>
                <li>
                    <a href="pre.html">Acquisition</a>
                </li>
                <li>
                    <a href="analisis.html">Visualization</a>
                </li>
                <li>
                    <a href="reportes.html">Reports</a>
                </li>
            </ul>
        </nav>
            <nav>
            <ul class="nav-links">
                <li class="nav-li2">
                    <a href="perfil.html" style="vertical-align: middle;">Profile</a>
                </li>
                
                <li class="nav-li2">
                    <a href="perfil.html" style="vertical-align: middle;"><img src="src/account-circle.png" alt=""></a>
                </li>
            </ul>
        </nav>
    </header>
    <header class="header" style="background-color: #9F9F9F;">
        <nav>
            <ul class="nav-links2">
                <li>
                    <a href="sujetos copy.html">Edit/Delete</a>
                </li>
                <li>
                    <a href="registro.html">Register</a>
                </li>
            </ul>
    </header>
    <div class="container mt-5 mb-5" style="padding: 0;">
    <!--<div class="row justify-content-start">
        <div class="col-3">
            <label for="nombreSujeto" class="form-label">Nombre</label>
        </div>
    </div>-->
    <h1 class="subtitulo">Subjects</h1>
    <!--<div class="row justify-content-start ms-1">
        <div class="col-3 my-auto" style="padding: 0;">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                Neurotipicidad
                </label>
            </div>
        </div>
    </div>-->
    <div class="row justify-content-start">
        <div class="col-3">
            <h4 class="form-label">Filters</label>
        </div>
    </div>
    <div class="row justify-content-center">
            <table id="example" class="table">
                <thead>
                    <tr>
                        <th>Participant ID</th>
                        <th>Name</th>
                        <th>Date of birth</th>
                        <th>Phone number</th>
                        <th>Education level</th>
                        <th>Sex</th>
                        <th>Game</th>
                    </tr>
                </thead>
                <tbody>  
                </tbody>
            </table>
    </div>
    <div class="row justify-content-center mb-1">
        <div class="col-auto">
            <button id="buttonB" type="button" class="btn btn-danger btn-lg" data-bs-toggle="modal" data-bs-target="#staticBackdrop" onclick="sacarDat()">Delete</button>
        </div>
        <div class="col-auto">
            <a href="modificar.html">
            <button id="buttonM" type="button" class="btn btn-primary btn-lg" onclick="sacarDat2()" disabled>Edit</button>
            </a>
        </div>
    </div>
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel">Wating for response</h5>
              <a href="sujetos copy.html">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </a>
            </div>
            <div class="modal-body" id="texto">
            </div>
            <div class="modal-footer">
                <a href="sujetos copy.html">
              <button type="button" class="btn btn-primary" data-bs-dismiss="modal" disabled id="boton">Accept</button>
            </a>
            </div>
          </div>
        </div>
      </div>
</div>
    <script src="../viewscripts/sujetos.js"></script>
</body>
</html>